<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Tennis Club</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/tennis.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <style>
        .nav-link.active {
            background-color: #007bff;
            color: white !important;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1>Tennis Club</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 mt-5">
            <div class="card">
                <div class="card-header">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-8 my-4">
                            @RenderBody()
                            @if (IsSectionDefined("RegisterContent"))
                            {
                                @RenderSection("RegisterContent", required: false)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        const path = window.location.pathname;
        const register = document.getElementById("register");
        const login = document.getElementById("login");
        if (path.includes("Register")) {
            register.classList.add("active");
        } else if (path.includes("Login")) {
            login.classList.add("active");
        }
    </script>
</body>
</html>
